version: '3.8'

services:
  postgres:
    image: postgres:17-bookworm
    container_name: nelon_shift_db
    restart: always
    environment:
      POSTGRES_DB: nelon_shift
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - nelon_net

  redis:
    image: redis:8.4
    restart: on-failure
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:

networks:
  nelon_net:
